


<form id="asker" action="/answer" class="form" method="get">
<div class="form-group">
<input type="text" name="answer" placeholder="Ask your coach anything.">
<input type="submit" value="ask!">
</div>

</form>
